<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59221338803-201qqulio6vli8stc3rjq7gea8r76eag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59221338803-201qqulio6vli8stc3rjq7gea8r76eag</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>59221338803-3t64464b6g6qacsbq4lpn20bq5lrbjsj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDF3lycRpYjt_qcpEbFxGeprchQgoDdJmc</string>
	<key>GCM_SENDER_ID</key>
	<string>59221338803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.powerMotoring.app.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>power-motoring-app</string>
	<key>STORAGE_BUCKET</key>
	<string>power-motoring-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59221338803:ios:a7f7a3c0d8db463bf9dec6</string>
</dict>
</plist>